/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */
*{ 
  margin: 0;
  padding: 0;
  border: none;
  font-family:'Orbitron', sans-serif;
}
body{
  margin-left: 50px;
  margin-top: 10px;
}
.list{
  display: flex;
}
.list-item{
  list-style: none;
}
.list-item:first-child{
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.navbar-container{
  display: flex;
}
.button-group{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.search-icon{
  position: relative;
  top: 2px;
  left: 60px;
}
.navbar-container div:first-child{
  align-self: center;
  flex-grow: 2;
}
.hero-container div:nth-last-child(2) img{
  width: 75%;
}
.navbar-container div:nth-child(2){
  flex-grow: 1;
}
.list-item{
  margin: 25px;
}
.button-group div:nth-child(2){
  margin: 14px;
}
.nav-button{
  border: 2px solid black;
  background-color: #fff;
  border-radius: 12px;
  padding: 8px 48px;
  font-size: larger;
}
.hero-container > div:nth-last-child(2){
  position:absolute;
  top: 150px;
}
.square{
  position: absolute;
  top: 330px;
  left: 138px;
}
.globe{
  position: absolute;
  top: 100px;
  left: 700px;
}
.hero-container > span:nth-child(3){
  position: absolute;
  left: 1180px;
  top: 150px;
}

.hero-container > span:nth-child(2){
  position: relative;
  left: 550px;
  top: 550px;
}
.hero-container-right{
  position: absolute;
  left: 600px;
  top: 250px;
  display: flex;
  flex-direction: column;
  align-items:center;
}
.hero-heading{
  font-size: 3rem;
}
.hero-description{
  text-align: center;
  padding: 100px;
}
.hero-container-right > div{
  margin-bottom: 100px;
}
.button-email{
  border: 1px solid black;
  padding: 10px 30px;
  background-color: #fff;
  font-size: 1em;
  border-radius: 10px;
}
.button-join{
  background-color: #0D0D0D;
  color: #fff;
  padding: 10px 30px;
  font-size: 1em;
  border-radius: 10px;
}
.contact-heading{
  text-align: center;
}
.icons{
  margin-top: 20px;
}
.icons span{
  margin: 10px;
}