/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
*{
  margin: 0;
  border: none;
  padding: 0;
}
.container{
  margin-left: 70px;
  margin-top: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: thin;
}
.navbar-container{
  display: flex;
  flex-direction: row;
}
.grow-list{
  margin-left: 50px;
  flex-grow: 0.8;
}
.list{
  display: flex;
  flex-direction: row;
  list-style: none;
}
.list-item{
  padding: 10px;
}
.list-item:first-child{
  font-weight: bolder;
}
.nav-button{
  padding: 12px 36px;
  color: #fff;
  background-color:#5737D6;
  border-radius: 8px;
  border: 0;
}

.banner-container{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.banner-container div:first-child{
  margin-top: 50px;
}
.banner-container h1{
  font-size: 3em;
}
.banner-container h1 > span{
  color: #5737D6;
}
.banner-container p{
  margin-top: 50px;
}
.btn{
  margin-top: 50px;
}