/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
*{
  margin: 0;
  padding: 0;
  border: none;
}
.container{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
section[aria-label="navbar"]{
  background-color: black;
  position: sticky;
  top: 0;
}
.navbar{
  display: flex;
  flex-direction: row;
}
.logo{
  margin: 10px;
}
.grow-list{
  flex-grow: 0.7;
}
.list{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 30px;
}
.list-item{
  margin: 10x;
  padding:10px 30px;
  list-style-type: none;
  color: #fff;
}
.button-small{
  color: #fff;
  background-color: #9F2BC1;
  padding: 5px 15px;
  border-radius: 4px;
  border: none;
  margin: 24px;
}

.hero{
  background-image: url("assets/bg.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  height: 1000px;  
  text-align: center;
  padding-top: 100px;
}

.hero-heading{
  margin: 10px 300px;
  font-size: 4em;
}
.hero-description{
  font-size: 1.5em;
}
.button-large{
  margin-top: 70px;
  background-color: #9F2BC1;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 1.5em;
  border-radius: 10px;
}