* {
  border: none;
  margin: 0;
  font-family: 'Poppins';
}
body{ 
  color: #fff;
}
.header{
  background-image: url("/Photos/mainBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-color: #758283;
  background-blend-mode: multiply;
  height: 1000px;
}
.header > .navbar{
  display: flex;
  margin-left: 150px;
  padding-top: 20px;
}
.header > hr{
  background-color: #fff;
  width: 88%;
  height: 1px;
  margin-top: 30px;
  margin-left: 90px;
}
.header > .navbar > nav{
  margin-left: 400px;
}
.header > .navbar > nav > ul{
  display: flex;
}
nav > ul > li{
  list-style: none;
  margin: 20px;
}
.get-started{
  margin-top: 220px;
  margin-left: 150px;
  width: 50%;
}
.get-started h1{
  font-size: 4.5em;
}
.get-started p{
  margin-right: 250px;
  margin-bottom: 50px;
}
.get-started button{
  background-color: #6663E9;
  color: #fff;
  padding: 15px 40px;
  margin-bottom: 50px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
}
.logo-array{
  color: #6663E9;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 1100px;
  position: absolute;
  top: 940px;
  left: 100px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
}
.logo-array img{
  width: 15%;
  margin: 0px 20px;
}
.cards{
  background-color: #f2f2f2;
  padding: 100px;
  color: #0D0D0D;
}
.cards h2{
  font-size: 2.3em;
  margin-left: 400px;
  margin-right: 400px;
}
.cards-desc{
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  margin-top: 50px;
}
.cards-desc img{
  width: 90%;
  height: 330px;
  margin: 10px 10px;
  border-radius: 20px;
}
.cards-desc .image:nth-child(2){
  margin-top: 20px;
}
.cards-desc .image:nth-child(3){
  margin-top: 40px;
}
.cards-desc .image:nth-child(5){
  margin-top: -20px;
}
.cards-desc .image:nth-child(6){
  margin-top: -40px;
}
.cards-desc .image:nth-child(7){
  margin-top: -40px;
}
.cards-desc .image:nth-child(8){
  margin-top: -20px;
}
.image-desc{
  width: 270px;
  height: 100px;
  background-color: #fff;
  display: flex;
  border-radius: 25px;
  position: relative;
  bottom: 70px;
  left: 32px;
}
.image-desc h3{
  margin-top: 20px;
  margin-left: 20px;
}
.image-desc h4{
  color: #6663E9;
  margin-top: 10px;
  margin-left: 20px;
}
.image-desc span{
  margin: 30px 40px;
}
.image-desc button{
  padding: 15px 30px;
  background-color: #6663E9;
  color: #fff;
  border-radius: 25px;
}
.feature{
  padding-top: 200px;
  background-color: #f2f2f2;
  color: #0D0D0D;
  display: flex;
}
.feature .main{
  width: 39%;
  height: 500px;
  position: absolute;
  left: 139px;
  top: 2900px;
  bottom: 120px;
  border-radius: 60px;
}
.feature-text h3{
  font-size: 3em;
  margin: 60px 20px;
}
.feature-text p{
  margin: 10px 180px 10px 20px;
}
.feature-text button{
  background-color: #6663E9;
  padding: 15px 30px;
  color: #fff;
  margin: 40px 20px;
  border-radius: 25px;
}
.feature-second{
  background-color: #f2f2f2;
  padding-top: 200px;
  display: flex;
  color: #0D0D0D;
  padding-left: 100px;
  padding-bottom: 150px;
}
.feature-second .main{
  width: 39%;
  height: 500px;
  position: absolute;
  top: 3680px;
  right: 138px;
  border-radius: 60px;
}
.newsletter{
  background-color: #f2f2f2;
  padding-bottom: 200px;
}
.subscription{
  width: 80%;
  height: 500px;
  margin: 0px 130px;
  background-color: #6663E9;
  border-radius: 35px;
  text-align: center;
  color: #fff;
  justify-content: center;
}
.subscription h3{
  padding: 80px 180px 20px ;
  font-size: 3em;
}
.subscription p{
  padding: 20px 200px;
}
.subscription input{
  background: transparent;
}
.subscription input::placeholder{
  color: #b3b3cc;
}
.get-updates{
  margin-top: 40px;
  display: flex;
}
.subscribe{
  width: 20%;
  display: flex;
  padding: 10px 120px 10px 20px;
  background-color: #4747d1;
  margin-left: 280px;
  border-radius: 25px;
}
.get-updates button{
  margin-left: 10px;
  border-radius: 25px;
  padding: 0px 30px;
  color: #6663E9;
  font-weight: bolder;
}
footer{
  display: flex;
}
.footer{
  background-color: #f2f2f2;
  padding-left: 150px;
}
.social-media{
  margin: 20px 0px;
}
.social-media img{
  margin-right: 10px;
}
.links{
  width: 22%;
  padding-bottom: 50px;
}
.links p{
  color: #0D0D0D;
}
.external-links{
  color: #0D0D0D;
  display: flex;
  margin-left: 150px;
}
.external-links div{
  margin: 0px 40px;
}
.external-links ul li{
  margin: 18px 0px;
  list-style: none;
}
.external-links h4{
  margin-left: 40px;
}